/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

html {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  border-color: #ffd24a
}

/*!---this frustrates me that I can't figure out how to pick the elements*/

nav  {
  border-width: medium;
  border-style: solid;
  border-color: white;
}

body {
  background-image: url(bg.jpg);

}

#page_content {
  background-color: white;
  
}


}

ul {
  font-weight: bold;
}

header {
  background-color: #ff8523;

}

h2 {
  color: #1fabe5;

}

h3 {
  color: #1fabe5;

}

table, th, td {
  border-width: thin;
  border-collapse: collapse;
  border-style: solid;
  border-color: #1fabe5;
  height: 50px;
}

tr {
  height: 2px;
  padding: 1000px 1000px 1000px 1000px;
}


thead {
  color: white;
  background-color: #1fabe5;

}

#submit_button {
  background-color:#1fabe5;

}

#name {
  background-color:##eee;

}
