/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

html {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  border-color: #ffd24a
}

.main_navigation a {
  border-width: thin;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  color: white;
  padding: 10px 20px 10px 20px;

}

.name {
  background-color:#ff8523;
  color: white;
  border-radius: 5px;
  border-style: hidden;
  padding: 20px 20px 20px 20px;
  border-width: medium;
  font-weight: bold;

}

form {
  background-color: #eee;
  font-weight: bold;
  padding: 20px 10px 20px 10px;

}

body {
  background-image: url(bg.jpg);

}

#page_content {
  background-color: white;

}

title {
padding-top: 20px;

}

ul {
  font-weight: bold;
}

header {
  background-color: #ff8523;

}

h2 {
  color: #1fabe5;

}

h3 {
  color: #1fabe5;

}

table, th, td {
  border-width: thin;
  border-collapse: collapse;
  border-style: solid;
  border-color: #1fabe5;
  height: 50px;
}

td {
  padding: 1px 1px 1px 1px;
}

tr {
  height: 2px;
  padding: 1000px 1000px 1000px 1000px;
}
/*Ignore this, was testing out something. Obviously didn't work*/

thead {
  color: white;
  background-color: #1fabe5;

}

#submit_button {
  background-color: #1fabe5;
  color: white;
  border-radius: 5px;
  border-style: hidden;
  font-weight: bold;
  padding: 10px 22px 10px 22px;

}

#site_header {
  height: 150px;

}
